nav{
    background-color: #1F1910;
    width: calc(100vw - 2rem);
    height: 90px;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 2px 1px #13100A; /* Dodaj cień */
}
nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}
nav li {
    display: inline; /* Umieszczenie elementów listy obok siebie (poziomo) */
    margin-right: 100px; /* Dodanie odstępu między elementami listy */
}

nav a {
    text-decoration: none; /* Usuń podkreślenie */
    color: #BFAEA0;
    font-family: 'Roboto', sans-serif;
    font-size:20px;
    font-weight: 800;
}
nav li a[href="home.html"] {
    color: #394130; /* Kolor, jaki chcesz ustawić */
}
nav li img {
    width: 36px; /* Dostosuj szerokość według potrzeb */
    height: 39px; /* Dostosuj wysokość według potrzeb */
    margin-right: 5px; /* Odstęp między obrazem a tekstem linku */
    vertical-align: bottom;
}
body{
    background-color: #1F1910;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    flex-direction: column;
}
main{
    flex: 1;
    display: flex;
  flex-direction: row; /* Ustawia układ flexboxa na kolumnowy, aby elementy były pod sobą */
  margin-bottom: 0px;
  margin-top: 100px;
}
main >.left{
    width: calc(100vw / 6);
    height: calc(100vh - 200px);
    display: flex;
    justify-content: center;
    }
.x{
    margin-top: 30px;
}
main > .middle{
    width: calc(100vw / 4);
    height: calc(100vh - 200px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
.image{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.form{
    display: flex;
    align-items: center;
    justify-content: center;
}
#add-button{
    color: #BFAEA0;
    background-color: #394130;
    font-family: 'Roboto', sans-serif;
    font-size:20px;
    width: 189px;
    height: 67px;
    border-radius: 7px;
    margin-top: 0px;
}
main >.right{
    width: calc(7 * 100vw / 12);
    height: calc(100vh - 200px);
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.news-description {
    margin-left: 0px;
    margin-right: 0px;
    width: 512px;
}
.news-description h3 {
    margin-top: 0;
    margin-bottom: 0; 
    color: #BFAEA0;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
}
.news-description p {
    margin-top: 5px; 
    color: #BFAEA0;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    margin-left: 5px;
}
.subscription{
    width: 512px;
    height: 112px;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-bottom: 10px;
    box-shadow: 0 2px 1px #13100A; /* Dodaj cień */
}
.items{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buy{
    width: 512px;
    height: 112px;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-bottom: 10px;
    box-shadow: 0 2px 1px #13100A; /* Dodaj cień */
}
.news-title{
    margin-left: 5px;
    display: flex;
    align-self: end;
    width: 100px;
}
.news-title h3 {
    margin-top: 0;
    margin-bottom: 5px; 
    color: #BFAEA0;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
}
footer {
    background-color: #0F0C08;
    opacity: 0.65;
    color: #BFAEA0;
    width: calc(100vw - 2rem);
    height: 90px;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}
footer ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}
footer li {
    display: inline; /* Umieszczenie elementów listy obok siebie (poziomo) */
    margin-right: 100px; /* Dodanie odstępu między elementami listy */
    font-family: 'Roboto', sans-serif;
    font-size:20px;
    font-weight: 800;
}
@media (max-width: 390px) {
    nav{
        position: fixed;
        bottom: 0;
        top: auto; 
        box-shadow: 0 -2px 1px #13100A; /* Dodaj cień */
    }
    nav li {
        align-items: center;
        margin-right: 0;
        margin-bottom: 10px;
    }
    nav a {
        font-size:14px;
        font-weight: 700;
        display: block;
    }
    li a {
        margin-left: 10px;
    }
    .images-container{
        display: none;
    }
    main{
        margin-bottom: auto;
        display: flex;
        flex-direction: column;
        min-height: calc(100% + 1px);
        margin-top: auto;
    }
    main >.left{
        width: 390px;
        height: auto;
        display: flex;
        justify-content: start;
    }
    .x{
        margin-top: 5px;
        margin-left: 10px;
    }
    main >.middle{
        width: 390px;
        height: auto;
    }
    .image{
        margin-bottom: 10px;
    }
    main >.right{
        width: 390px;
        min-height: 600px;
        display: flex;
        justify-content: start;
    }
    .news-description {
        margin-right: 0px;
        width: 390px;
    }
    .news-description h3{
        display: flex;
        justify-content: center;
    }
    .news-description p{
        display: flex;
        justify-content: center;
    }
    .buy{
        width: 390px;
        gap: 0.5rem;
    }
    .subscription{
        width: 390px;
        gap: 0.5rem;
    }
    footer {
        display: none;
    }
}
