body::-webkit-scrollbar {
    background-color: #1F1910;
}
::-webkit-scrollbar-thumb {
    background-color: #0F0C08;
}
.news::-webkit-scrollbar {
    background-color: #1F1910;
}
.news::-webkit-scrollbar-thumb {
    background-color: #0F0C08;
}
nav{
    background-color: #1F1910;
    width: calc(100vw - 2rem);
    height: 90px;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 2px 1px #13100A;
}
nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}
nav li {
    display: inline;
    margin-right: 100px;
}

nav a {
    text-decoration: none;
    color: #BFAEA0;
    font-family: 'Roboto', sans-serif;
    font-size:20px;
    font-weight: 800;
}
nav li a[href="home"] {
    color: #394130;
}
nav li img {
    width: 36px;
    height: 39px;
    margin-right: 5px;
    vertical-align: bottom;
}
nav li.addBook {
    display: flex;
    align-items: center;
    margin-right: 2vw;
}
.images-container {
    display: flex;
    align-items: center;
}
nav li.addBook a {
    color: #FF0000;
}
body{
    background-color: #1F1910;
    margin: 0;
    width: calc(100vw - 2rem);
    height: 100vh;
    display: flex;
    justify-content: start;
    align-items: center;
    overflow-y: auto;
    flex-direction: column;
}
main{
    display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;
      margin-bottom: 0px;
    margin-top: 90px;
    flex-shrink: 0;
    }
main >.catalog{
    background-color: #1F1910;
    width: calc(100vw - 30rem);
    font-size: 40px;
    font-family:Grandstander;
    color: #BFAEA0;
    font-weight: 800;
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 1px #13100A;
    margin-bottom: 10px;
    margin-top: 20px;
}
.main-image2{
display: none;
}
.main-image{
    height: 40%;
}
.news{
    width: calc(100vw - 30rem);
    height: 33vh;
    display: flex;
    gap: 1rem;
    flex-direction: row;
    justify-content: flex-start;
    overflow-x: auto;
    white-space: nowrap;
    margin-left: 1%;
}
.news-container {
    width: 120px;
    height: 150px;
}
.news-image {
    width: 120px;
    height: 160px;
}
.news-description {
    margin-left: 0px;
    align-items: center;
    overflow-wrap: break-word;
    white-space: normal;
}
.news a {
    text-decoration: none;
}
.news-description h3 {
    margin-top: 5px;
    color: #BFAEA0;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    align-items: center;
    text-decoration: none;
    overflow-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
footer {
    background-color: #0F0C08;
    opacity: 0.65;
    color: #BFAEA0;
    width: calc(100vw - 2rem);
    height: 90px;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}
footer ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin-left: 1%;
}
footer li {
    display: inline;
    margin-right: 100px;
    font-family: 'Roboto', sans-serif;
    font-size:20px;
    font-weight: 800;
}
footer li:last-child{
    display: none;
}
footer .store a{
    display: inline;
}
footer .store img{
    display: inline;
}
footer .store a:first-child {
    display: none;
}
footer ul li a {
    text-decoration: none;
    color: #BFAEA0;
}

footer ul li a:hover {
    color: #394130;
}
@media (max-width: 900px) {
    nav{
        position: fixed;
        bottom: 0;
        top: auto; 
        box-shadow: 0 -2px 1px #13100A;
        padding: 0;
        width: calc(100vw - 1px);
    }
    body{
        width: calc(100vw - 1px);
    }
    nav li {
        align-items: center;
        margin-right: 0;
        margin-bottom: 10px;
    }
    nav a {
        font-size:14px;
        font-weight: 700;
        display: block;
    }
    .news{
        width: calc(100vw - 1px);
        height: 14rem;
    }
    li a {
        margin-left: 10px;
    }
    .images-container{
        display: none;
    }
    .main-image{
        display: none;
        }
    .main-image2{
        display: flex;
        }
    main{
        margin-bottom: auto;
        width: calc(100vw - 1px);
    }
    main >.catalog{
        width: 390px;
        height: 70px;
        font-size: 40px;
        margin-top: 0px;
        display: flex;
        align-items: flex-end;
    }
    footer {
        position: fixed;
        bottom: auto;
        top: 0; 
        background-color: #1F1910;
        opacity: 1.0;
        box-shadow: 0 2px 1px #13100A;
        width: calc(100vw - 2rem);
    }
    footer ul li {
        display: none;
      }
    footer .media{
        display: none;
    }
    footer .store a{
        display: none;
    }
    footer .store a:first-child {
        display: block;
    }
    footer ul li:last-child {
        display: block;
    }
}
