body{
    background-color: #1F1910;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup{
    background-color: #1F1910;
            width: 50vw;
            height: 50vh;
            border-radius: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
}

.signup-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.form{
    display: flex;
        flex-direction: column; 
        gap: 0.5rem;
        margin-right: 150px;
        align-items: center;
}
.images-container {
    display: flex;
    flex-direction: column; /* Ustawienie na pionowe ustawienie obrazów */
    margin-right: 100px;
    }
#signup-title{
    color: #BFAEA0;
    font-family: 'Grandstander', cursive;
    font-size: 64px;
    margin-bottom: 100px;

}
#signup-button{
    color: #FFFF;
    background-color: rgba(60, 76, 50, 0.3499999940395355);
    font-family: 'Roboto', sans-serif;
    font-size:24px;
    width: 384px;
    height: 67px;
    border-radius: 7px;
    margin-top: 8%;
}
#name,#phone, #email, #password{
    background-color:#BFAEA0;
    height:71px;
    width:374px;
    border-radius:7px;
    text-align:left;
    font-size:24px;
    font-family:'Roboto', sans-serif;
    opacity: 0.55;

}
#name::placeholder,#phone::placeholder, #email::placeholder , #password::placeholder {
    color:#FFFF;
    font-family:'Roboto', sans-serif;
    opacity: 0.8;
}

.login{
    color:#588527;
    text-align:right;
    vertical-align:text-top;
    font-size:32px;
    font-family:Grandstander;
    width:101px;
margin-left: 1200px;
    }
@media (max-width: 900px) {
    .signup {
    width: 100%;
    border-radius: 0;
    flex-direction: column; /* Zmiana na układ kolumnowy */
    align-items: center; /* Centrowanie elementów w pionie */
    }
    .signup-content {
        flex-direction: column;
        align-items: center;
    }
    .form{
        margin-right: 0px;
        margin-top: 30px;
    }
    .images-container {
        margin-right: 0px;
        margin-top: 0px;
        width: 280px;
        height: 224px;
        position: relative;
    }
    .login{
        margin-left: 270px;
        font-size:22px;
    }
     #signup-title{
        position: absolute;
        font-size: 40px;
        top: 4%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #signup-button{
        margin-top: 60px;
    }
   }

